name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        php-versions: ['8.0', '8.1']
        laravel-versions: ['^9.0']
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}

    - name: Setup Laravel
      run: composer require -W --dev laravel/laravel:${{ matrix.laravel-versions }}

    - name: Run tests
      run: ./vedor/bin/phpunit

